#divProfileMenu{
    background-color: rgb(25,25,112);
    margin-left: 0%;
    margin-right: 0%;
}

.table-options {
    margin-bottom: 0;
    cellspacing:0;
    width:100%;
}

.btn-table {
    margin: 0px 10px;
    margin-bottom: 20px;
}
.list-container{
    margin-top: 3%;
    margin-bottom: 6%;
}

.color-orange{
    color: rgb(255,165,0);
}

.tr-color-received{
    background-color: rgb(207,204,255) !important;
}
.tr-color-sent{
    background-color: rgb(207,204,255) !important;
}

#firstRow{
    width: 100%;
    height: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
}